<!DOCTYPE html>
<html>
  <head>
    <title>Postagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>


<body class="pt-4">
  <div class="container">
    <div class="row justify-content-end mb-2">
      <div class="col">
        <%= flash["notice"] %>
      </div>
      <div class="col-3 text-end">
        <a href="/">Home</a>
        |
        <% @user = User.find_by({ "id" => session["user_id"] }) %>
        <% if @user == nil %>
          <a href="/users/new" class="btn btn-default">Sign Up</a>
          |
          <a href="/login" class="btn btn-default">Login</a>
        <% else %>
          Logged in as: <%= @user["username"] %>
          |
          <a href="/logout" class="btn btn-default">Logout</a>
        <% end %>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
